/* Overall styles
-------------------------------------------------- */
html {
  background: #0077be!important;
  position: relative;
  min-height: 100%;
}

textarea { 
  resize:vertical; 
}

/* Container row styles
-------------------------------------------------- */
/*.container {
   background: #34495E;
}
*/
.row {
  margin-top: 5%;
}

/* Nav bar styles
-------------------------------------------------- */
.navbar {
  background-color: #2C3E50;
}

.navbar-brand {
  color: #F1C40F;
}

/* Scrollbar styles
-------------------------------------------------- */
.nicescroll-cursors {
  background-color: #16A085 !important;
  border-color: #16A085 !important;
}

/* Wizard styles
-------------------------------------------------- */
.modal-content .modal-body > p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.modal-content .modal-body > h6 {
  font-size: 18px;
  font-weight: bolder;
}

.modal-content .modal-body > p strong {
  color: #D9534F;
}

/* Alert styles
-------------------------------------------------- */
.alert {
  background-color: #1abc9c;
  margin: 0px 15px;
}